body {
    background: url('../../images/app-background.jpg') center center / cover no-repeat;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.test {
    color: lightyellow;
}