@import '../utils/variables';

.dashContainer {
    height: 100%;
    background: url('../../images/app-background.jpg') center center / cover no-repeat;
}

.forecastDataWrapper {
    display: flex;

    @media screen and (max-width: $xlargeBp) {
        flex-direction: column;
    }
}

.uvPolContainer {
    order: 2;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    margin-top: 10px;
    max-height: $heightMinusHeader;

    @media screen
        and (min-width: 320px) 
        and (max-width: 659px)
        and (orientation:landscape) {
        min-height: 430px;
     }

    @media screen and (max-width: $xlargeBp) {
        flex-direction: row;
        margin-bottom: 10px;
    }

    @media screen and (max-width: 660px) {
        flex-direction: column;
    }
}