.dashContainer {
    min-height: 100vh;
    background: url('../../images/app-background.jpg') center center / cover no-repeat;
}

.forecastDataWrapper {
    display: flex;
}

.uvPolContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    margin-top: 10px;
}