@import '../utils/variables';

.container {
    flex-basis: 75%;
    max-height: $heightMinusHeader;
    overflow-y: scroll;
    margin: 15px 10px 15px 0;
    display: flex;
    flex-direction: column;

    @media screen
        and (min-width: 320px) 
        and (max-width: 659px)
        and (orientation:landscape) {
        min-height: 300px;
    }

    @media screen and (max-width: 1250px) {
        margin-bottom: 0;
    }
}

.container::-webkit-scrollbar {
    width: 0.7em;
    padding: 5px;
}

.container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $primaryDashBlue;
}

.forecastWrapper:first-of-type {
    margin-top: 0;
}

.forecastWrapper {
    min-height: 155px;
    text-align: center;
    display: flex;
    color: $primaryDashBlue;
    align-items: center;
    border: 1px solid $dashLightGrey;
    border-left: none;
    border-right: none;
    margin: 8px;

    @media screen and (max-width: $xlargeBp) {
        font-size: $smallFont;
    }

    .date, 
    .iconContainer, 
    .description, 
    .timeOfDay,
    .temperature {
        flex-basis: 20%;
    }

    .description {
        @media screen and (max-width: 400px) {
            display: none;
        }
    }
}

.temperature {
    display: flex;
    justify-content: center;

    .symbol {
        align-self: flex-start;
        display: inline-block;
        font-size: $xsmallFont;
        margin: 2px 0 0 1px;

    }
}

.currently {
    margin-left: 5px;
    color: #e1ecf0;
    font-size: $mediumFont; 
}

