@import '../utils/variables';

select {
    border: none;
    color: $secondaryDashBlue;
    background-color: transparent;
    cursor: pointer;

    @media screen and (max-width: $smallBp) {
        font-size: 0.85em;
    }
}

option {
    color: $defaultBlack;
}