@import '../utils/variables';

.container {
    height: 450px;
    overflow-y: scroll;
    margin: 16px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

.container::-webkit-scrollbar {
    width: 0.7em;
    padding: 5px;
}

.container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $primaryDashBlue;
}

.forecastWrapper:first-of-type {
    margin-top: 0;
}

.forecastWrapper {
    min-height: 130px;
    text-align: center;
    display: flex;
    color: $primaryDashBlue;
    align-items: center;
    border: 1px solid $dashLightGrey;
    border-left: none;
    border-right: none;
    margin: 8px;

    .date, .iconContainer, .description, .timeOfDay {
        flex-basis: 25%;
    }
}

.temperature {
    display: flex;
    
    .symbol {
        align-self: flex-start;
        display: inline-block;
        font-size: 0.6em;
        margin: 2px 0 0 1px;

    }
}

select {
    border: none;
    color: $secondaryDashBlue;
    background-color: transparent;
}

option {
    color: black;
}

