@import '../utils/variables';
@import '../base/base';

select {
    border: none;
    color: $secondaryDashBlue;
    background-color: transparent;
    cursor: pointer;
}

option {
    color: $defaultBlack;
}