@import '../utils/variables';
@import '../base/base';
@import '../utils/mixins';

.container {
    height: 100vh;
    background: url('../../images/search-background.jpg') center center / cover no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .filler {
        background-color: transparent;
        min-height: calc(50% - 41px);
    }

    .autocompleteRoot {
        width: 380px;
        align-self: center;

        @media screen and (max-width: 465px) {
            width: 275px;
        }

        input {
            position: relative;      
            background-color: transparent;
            width: 100%;
            border-bottom: 2px solid rgba(250, 250, 250, 0.85);
            caret-color: white;
            color: white;
            font-size: $xxlargeFont;
            padding-bottom: 2px;

            &::placeholder {
                color: rgba(250, 250, 250, 0.6);
                text-align: center;
                font-weight: 300;
                font-size: $largeFont;

                @media screen and (max-width: $xxsmallBp) {
                    font-size: $smallFont;
                }
            }
        }
    }

    .autocompleteDropdownContainer {
        background: $searchDropdownGrey;

        .suggestion,
        .suggestionActive,
        .logoContainer {
            padding: 5px;
        }

        .suggestion, .suggestionActive {
            display: flex;
            align-items: center;

            &:hover {
                background: rgba(233, 230, 230, 0.767);
                cursor: pointer;
            }

            .locationIcon {
                width: 17px;
                margin-right: 5px;
            }
        }

        .suggestionActive {
            cursor: pointer;
            background: rgba(233, 230, 230, 0.767);
        }

        .logoContainer {
            display: flex;
            justify-content: center;
            padding: 7px;
        }
    }

}