@import '../utils/variables';
@import '../base/base';

.toolTip {
    position: absolute;
    top: -8px;
    left: 61%;
    font-size: $smallFont;
    min-width: 90px;

    p {
        color: white;
    }

    .tail {
        position: absolute;
        left: -15px;
        transform: translateY(-50%) rotate(90deg);
        top: 50%;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
}