@import '../utils/variables';

.toolTip {
    position: absolute;
    top: 69px;
    left: 59%;
    font-size: 0.8em;
    min-width: 100px;

    p {
        color: white;
    }

    .tail {
        position: absolute;
        left: -15px;
        transform: translateY(-50%) rotate(90deg);
        top: 50%;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
}