@import '../utils/variables';

.toolTip {
    position: absolute;
    top: 0;
    right: 0;

    p {
        color: white;
    }

    .tail {
        position: absolute;
        left: -14px;
        transform: translateY(-50%) rotate(90deg);
        top: 50%;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
}