// colours

$primaryDashBlue: #9bc2cf;
$secondaryDashBlue: #e1ecf0;
$dashLightGrey: rgba(211, 211, 211, 0.5);
$weatherHeaderbackground: rgba(25, 49, 91, 1);
$searchDropdownGrey: rgba(233, 230, 230, 0.767);